body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
}

.text-larger {
    font-size: larger !important;
}

.scalable:hover {
    color: var(--bs-navbar-active-color) !important;
    transition: transform 0.3s ease;
    transform: scale(1.05);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1) !important;
}

.Typewriter__cursor {
    animation: none !important;
}

.result-streaming>:not(ol):not(ul):not(pre):not(div):last-child:after,.result-streaming>pre:last-child code:after {
    content: "⬤";
    font-size: smaller;
    /*line-height: normal;*/
    vertical-align: text-bottom;
}

/*@keyframes blink-animation {*/
/*    50% {*/
/*        opacity: 0;*/
/*    }*/
/*}*/

.tilt-image {
    rotate: 3deg;
    cursor: pointer;
    transition: transform 0.3s ease;;
}
.tilt-image:hover {
    transform: scale(1.05) rotate(1deg);
}

.container {
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.block {
    animation: appear ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}